<mat-card>
  <mat-card-title>
    {{title}}
  </mat-card-title>
  <mat-card-content>
    <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
      <ng-container *ngFor="let def of columns" [matColumnDef]="def">
        <mat-header-cell *matHeaderCellDef>{{ def | uppercase }}</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row[def] }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
          <button (click)="onCreate()" *ngIf="createAction==true" mat-button mat-icon-button matSuffix>
            <mat-icon color="warn">add_circle</mat-icon>
          </button>
        </mat-header-cell>
        <mat-cell *matCellDef="let item">
          <button (click)="onBuy(item)" *ngIf="item.bought==false" mat-button mat-icon-button matSuffix>
            <mat-icon color="warn">shopping_cart</mat-icon>
          </button>
          <button *ngIf="item.bought==true" mat-button mat-icon-button matSuffix>
            <mat-icon color="warn">remove_shopping_cart</mat-icon>
          </button>
          <button (click)="onRead(item)" *ngIf="readAction==true" mat-button mat-icon-button matSuffix>
            <mat-icon color="warn">visibility</mat-icon>
          </button>
          <button (click)="onUpdate(item)" *ngIf="updateAction==true" mat-button mat-icon-button matSuffix>
            <mat-icon color="warn">edit</mat-icon>
          </button>
          <button (click)="onDelete(item)" *ngIf="deleteAction==true" mat-button mat-icon-button matSuffix>
            <mat-icon color="warn">delete</mat-icon>
          </button>
          <button (click)="onEditMembers()" *ngIf="editMembersAction==true" mat-button mat-icon-button matSuffix>
            <mat-icon color="warn">person_add</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="columns.concat('actions')"></mat-header-row>
      <mat-row *matRowDef="let item; columns: columns.concat('actions');"></mat-row>
    </mat-table>
  </mat-card-content>
</mat-card>
