<h3 mat-dialog-title>Iniciar sesión</h3>
<mat-dialog-content>
  <mat-form-field>
    <input matInput type="text" placeholder="Nombre" [(ngModel)]="username"/>
    <button mat-button *ngIf="username" matSuffix mat-icon-button aria-label="Clear" (click)="username=undefined" (click)="password=undefined" cdkFocusInitial>
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" placeholder="Contraseña" [(ngModel)]="password"/>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button mat-dialog-close (click)="login()">Iniciar</button>
</mat-dialog-actions>
